<div class="app-body">
    <main class="main d-flex align-items-center">
      <div class="container">
        <div class="row">
          <div class="col-md-6 mx-auto">
            <div class="card mx-4">
              <div class="card-body p-4">
                <form [formGroup]="cadastroUsuarioFormGroup">
                  <h1>Registrar Cidadão</h1>
                  <p class="text-muted">Crie a sua conta</p>
                  <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="icon-user"></i></span>
                    </div>
                    <input type="text"
                            class="form-control"
                            id="name"
                            title="Digite seu nome completo"
                            placeholder="Nome Sobrenome"
                            [(ngModel)]="novoFuncionario.nome"
                            formControlName="name"
                            required
                            >
                  </div>
                  <!-- name Validators -->
                  <div *ngIf="name.invalid && (name.dirty || name.touched)"
                        class="alert alert-danger">
                        <div *ngIf="name.errors.required">
                            O Campo <b>nome</b> é obrigatório
                        </div>
                  </div>
                  <!-- End name Validators -->

                  <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="fa fa-id-card"></i></span>
                    </div>
                    <input type="text"
                            class="form-control"
                            id="userName"
                            title="Digite seu CPF. ELe será usado como logIn"
                            placeholder="000.000.000-00"
                            mask="000.000.000-00"
                            [(ngModel)]="novoUsuario.userName"
                            formControlName="userName"
                            required
                            >
                  </div>
                  <!-- UserName Validators -->
                  <div *ngIf="userName.invalid && (userName.dirty || userName.touched)"
                        class="alert alert-danger">
                        <div *ngIf="userName.errors.required">
                            O Campo <b>CPF</b> é obrigatório
                        </div>
                        <div *ngIf="userName.errors.minlength">
                            O Campo <b>CPF</b> deve possuir, no mínimo, {{ userName.errors.minlength.requiredLength }} dígitos
                        </div>
                  </div>
                  <!-- End UserName Validators -->
                  <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text">@</span>
                    </div>
                    <input type="text"
                            class="form-control"
                            id="email"
                            title="Digite seu email para contato"
                            placeholder="Email"
                            [(ngModel)]="novoUsuario.email"
                            formControlName="email"
                            required
                            >
                  </div>
                  <!-- Email Validators -->
                  <div *ngIf="email.invalid && (email.dirty || email.touched)"
                        class="alert alert-danger">
                        <div *ngIf="email.errors.required">
                            O Campo <b>Email</b> é obrigatório
                        </div>
                        <div *ngIf="email.errors.email">
                            O Campo <b>Email</b> não está em um formato válido
                        </div>
                  </div>
                  <!-- End Email Validators -->
                  <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="icon-screen-smartphone"></i></span>
                    </div>
                    <input type="text"
                            class="form-control"
                            id="celular"
                            title="Digite o número do seu celular para contato"
                            placeholder="(00) 0 0000-0000"
                            mask="(00) 0 0000-0000"
                            [(ngModel)]="novoUsuario.celular"
                            formControlName="celular"
                            required
                            >
                  </div>
                  <!-- Phone Validators -->
                  <div *ngIf="celular.invalid && (celular.dirty || celular.touched)"
                        class="alert alert-danger">
                        <div *ngIf="celular.errors.required">
                            O Campo <b>Celular</b> é obrigatório
                        </div>
                        <div *ngIf="celular.errors.minlength">
                            O Campo <b>Celular</b> deve possuir, no mínimo, {{ celular.errors.minlength.requiredLength }} dígitos
                        </div>
                  </div>
                  <!-- End Phone Validators -->
                  <p class="text-muted">Informações de nascimento</p>
                  <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="fa fa-calendar-check-o "></i></span>
                    </div>
                    <input type="text"
                            class="form-control"
                            id="data"
                            name="data"
                            title="Digite a data do seu nascimento"
                            autocomplete="off"
                            formControlName="data"
                            bsDatepicker
                            [(ngModel)]="novoFuncionario.data"
                            [bsConfig]="{ dateInputFormat: 'DD-MM-YYYY', containerClass: 'theme-dark-blue' }"
                            required
                            >
                  </div>
                  <!-- data Validators -->
                  <div *ngIf="data.invalid && (data.dirty || data.touched)"
                        class="alert alert-danger">
                        <div *ngIf="data.errors.required">
                            O Campo <b>data de nascimento</b> é obrigatório
                        </div>
                  </div>
                  <!-- End data Validators -->
                  <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text"></span>
                    </div>
                    <select class="form-control"
                            id="estado"
                            title="Selecione o estado de nascimento"
                            ng-init="novoFuncionario.idEstado = novoFuncionario.idEstado || estados[0].id"
                            (change)="selectEstado($event.target.value)">
                      <option *ngFor="let estado of estados" [value]="estado.id" [ngValue]="estado.nome">{{estado.nome}}</option>
                    </select>
                  </div>
                  <!-- estado Validators -->
                  <div *ngIf="estado.invalid && (estado.dirty || estado.touched)"
                        class="alert alert-danger">
                        <div *ngIf="estado.errors.required">
                            O Campo <b>Estado de nascimento</b> é obrigatório
                        </div>
                  </div>
                  <!-- End estado Validators -->
                  <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text"></span>
                    </div>
                    <input type="text"
                            class="form-control"
                            id="cidade"
                            title="Digite a cidade de nascimento"
                            placeholder="Niterói"
                            [(ngModel)]="novoFuncionario.cidade"
                            formControlName="cidade"
                            required
                            >
                  </div>
                  <!-- cidade Validators -->
                  <div *ngIf="cidade.invalid && (cidade.dirty || cidade.touched)"
                        class="alert alert-danger">
                        <div *ngIf="cidade.errors.required">
                            O Campo <b>Cidade de nascimento</b> é obrigatório
                        </div>
                  </div>
                  <!-- End cidade Validators -->
                  <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="icon-lock"></i></span>
                    </div>
                    <input type="password"
                            class="form-control"
                            id="password"
                            title="Digite sua senha de acesso"
                            placeholder="Password"
                            [(ngModel)]="novoUsuario.password"
                            formControlName="password"
                            required>
                  </div>
                  <!-- Password Validators -->
                  <div *ngIf="password.invalid && (password.dirty || password.touched)"
                        class="alert alert-danger">
                        <div *ngIf="password.errors.required">
                            O Campo <b>Password</b> é obrigatório
                        </div>
                        <div *ngIf="password.errors.minlength">
                            O Campo <b>Password</b> deve possuir, no mínimo, {{ password.errors.minlength.requiredLength }} dígitos
                        </div>
                  </div>
                  <!-- End Password Validators -->
                  <div class="input-group mb-4">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="icon-lock"></i></span>
                    </div>
                    <input type="password"
                            class="form-control"
                            id="confirmPassword"
                            title="Confirme a senha digitada no campo acima"
                            placeholder="Confirm password"
                            [(ngModel)]="novoUsuario.confirmPassword"
                            formControlName="confirmPassword"
                            required>
                  </div>
                  <!-- confirmPassword Validators -->
                  <div *ngIf="confirmPassword.invalid && (confirmPassword.dirty || confirmPassword.touched)"
                        class="alert alert-danger">
                        <div *ngIf="confirmPassword.errors.required">
                            O Campo <b>Confirm Password</b> é obrigatório
                        </div>
                        <div *ngIf="confirmPassword.errors.matchPassword">
                            O Campo <b>Confirm Password</b> e o campo <b>Password</b> estão divergentes
                        </div>
                  </div>
                  <!-- End confirmPassword Validators -->
                  <button type="button"
                            class="btn btn-block btn-primary active"
                            [disabled]="!cadastroUsuarioFormGroup.valid"
                            (click)="cadastrarUsuario()"
                            >Criar Conta</button>
                  <button type="button" class="btn btn-block btn-primary active"[routerLink]="[ '/login']">Voltar</button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
  </div>
  <ngx-ui-loader></ngx-ui-loader>
  