<h2 class="text-center text-muted"> Histórico de empresas </h2>
<hr>
<h1 *ngIf="historicoEmpresaList.length === 0" class="text-center text-muted"> Não há registros </h1>
<div *ngFor='let $historicoEmpresa of historicoEmpresaList'>
    <div class="card">
        <div class="card-body">
            <div class="row">
                <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 col-12">
                    <label class="text-muted"> Nome Fantasia </label>
                    <p title="Nome Fantasia"> {{ $historicoEmpresa?.nomeFantasia }} </p>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 col-12">
                    <label class="text-muted"> Razão Social </label>
                    <p title="Razão Social"> {{ $historicoEmpresa?.razaoSocial }} </p>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 col-12">
                    <label class="text-muted"> CNPJ </label>
                    <p title="CNPJ"> {{ $historicoEmpresa?.cnpj }} </p>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 col-12">
                    <label class="text-muted"> Data de Desvinculação </label>
                    <p title="Data de Desvinculação"> {{ $historicoEmpresa?.data | date: 'dd/MM/yyyy' }} </p>
                </div>
            </div>
        </div>
    </div>
</div>
<ngx-ui-loader></ngx-ui-loader>