<h2 class="text-center text-muted"> Gerador de Chave de Acesso </h2>
<hr>
<div class="alert alert-info">
    <p> Prezado Portador da CTPS. </p>
    <p> Esta chave serve para que seja habilitado a funcionalidade de adicionar e alterar registros em sua CTPS. </p>
    <p> Entregue esta chave apra o RH da empresa qual você deseja que faça tais alterações em sua carteira. </p>
    <p class="font-weight-bold"> Observações </p>
    <p> Esta chave tem validade de 24 horas. Passando este período a chave não será mais válida. </p>
    <p> Caso uma outra empresa da qual você não está vinculado tente utilizar a chave, a mesma não conseguirá utilizar a chave gerada. </p>
    <p> Esta chave só será válida para <strong> UMA </strong> ação de inserção ou atualização de registros em sua CTPS. </p>
</div>
<div class="card">
    <div class="card-body">
        <input class="form-control"
            [disabled]="true"
            id="chave"
            name="chave"
            type="text"
            value="{{ chave }}" />
    </div>
    <div class="card-footer">
        <button class="btn btn-sm btn-primary" (click)="gerarChave()">
            <i class="fa fa-dot-circle-o"></i>
            Gerar Chave
        </button>
    </div>
</div>
<ngx-ui-loader></ngx-ui-loader>