<h2 class="text-center text-muted"> Carteira de Trabalho e Previdência Social </h2>
<hr>
<app-carteira-trabalho [carteiraTrabalho]="carteiraTrabalho">
</app-carteira-trabalho>
<div class="accordion" id="accordion">
    <div class="card">
        <div class="card-header" id="headingOne">
            <h5 class="mb-0">
                <button class="btn btn-link" type="button" (click)="collapseOne = !collapseOne"
                    [attr.aria-expanded]="!collapseOne" aria-controls="collapseOne">
                    <span class="text-uppercase font-weight-bold align-middle"> Declaração Universal dos Direitos do
                        Homem </span>
                </button>
            </h5>
        </div>

        <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" [collapse]="collapseOne">
            <div class="card-body">
                <p class="text-justify"> Art. XXIII - 1. Todo homem tem direito ao trabalho, à livre escolha de emprego,
                    a condições justas e favoráveis de trabalho e a proteção contra o desemprego. </p>
                <p class="text-justify"> 2. Todo o homem, sem qualquer distinção, tem direito a igual remuneração por
                    igual trabalho. </p>
                <p class="text-justify"> 3. todo o homem que trabalha tem direito a uma remuneração justa e satisfatória
                    que lhe assegure, assim como a sua família, uma existência compatível com a dignidade humana, e a
                    que se acrescentarão, se necessário, outros meios de proteção social. </p>
                <p class="text-justify"> 4. Todo homem tem direito a organizar sindicatos e a neles ingressar para
                    proteção de seus interesses. </p>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header" id="headingTwo">
            <h5 class="mb-0">
                <button class="btn btn-link collapsed" type="button" (click)="collapseTwo = !collapseTwo"
                    [attr.aria-expanded]="!collapseTwo" aria-controls="collapseTwo">
                    <span class="text-uppercase font-weight-bold align-middle"> Da Consolidação das Leis do Trabalho
                    </span>
                </button>
            </h5>
        </div>
        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" [collapse]="collapseTwo">
            <div class="card-body">
                <p class="text-justify">
                    "Art. 40. as Carteiras de Trabalho e Previdência Social regularmente emitidas e anotadas servirão de
                    prova nos atos em que sejam exigidas das carteiras de identidade e especialmente:
                    <br>
                    &nbsp;&nbsp;&nbsp;&nbsp;I - Nos casos de dissídio na Justiça do Trabalho entre a empresa e o
                    empregado por motivos de salário, férias ou tempo de serviço;
                    <br>
                    &nbsp;&nbsp;&nbsp;&nbsp;II - Perante a Previdência Social, para o efeito de declaração de
                    dependentes;
                    <br>
                    &nbsp;&nbsp;&nbsp;&nbsp;III - Para cálculo de indenização por acidente de Trabalho ou moléstia
                    profissional."
                </p>
                <p class="text-center"> DECRETO-LEI Nº 229 - De 28 de fevereiro de 1967 </p>
                <p class="text-justify"> Altera dispositivos da Consolidação das Leis do Trabalho, aprovada pelo
                    Decreto-Lei n° 5.452, de 1° de maio de 1943, e dá outras providências. </p>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header" id="headingThree">
            <h5 class="mb-0">
                <button class="btn btn-link collapsed" type="button" (click)="collapseThree = !collapseThree"
                    [attr.aria-expanded]="!collapseThree" aria-controls="collapseThree">
                    <span class="text-uppercase font-weight-bold align-middle"> Trabalhador </span>
                </button>
            </h5>
        </div>
        <div id="collapseThree" class="collapse" aria-labelledby="headingThree" [collapse]="collapseThree">
            <div class="card-body">
                <p class="text-justify"> Esta é a sua Carteira de Trabalho e Providência Social, instituída pelo Decreto
                    n° 22.035, de 29 de outubro de 1932, e posteriormente reformulada pelo Decreto-Lei n° 5.452, de 1°
                    de maio de 1943, que aprovou a Consolidação das Leis do Trabalho. </p>
                <p class="text-justify"> É o documento obrigatório para o exercício de qualquer emprego, seja de
                    natureza urbana, rural, de caráter temporário, permanente, ou mesmo em atividade profissional
                    exercida por conta própria. </p>
                <p class="text-justify"> Nela são registrados os salários e todos os elementos básicos para o
                    reconhecimento de seus direitos perante a Justiça do trabalho, bem como para a obtenção da
                    aposentadoria e demais benefícios da Previdência Social, tanto para você como para seus dependentes.
                    Além de registrar todas as relações de trabalho de seu portador, comprovando o vínculo que mantém
                    com o empregador, a CTPS garante-lhe também o direito ao Seguro-Desemprego. </p>
                <p class="text-justify"> Além de valer, também, como prova de identidade, conforme disõe no artigo 40 da
                    Consolidação das Leis do Trabalho, o conjunto e anotações CPTS e seu estado de conservação espelham
                    a conduta, a formação e o trabalho do trabalhador. Pelo conjunto das informações que encerra, serve,
                    ao mesmo tempo como documento de crédito e atestado de antecedentes, tornando-se instrumento de
                    múltiplas utilidades ao seu portador. </p>
                <p class="text-justify"> Pela sua importância, é seu dever protegê-la e cuidá-la. É o resgitro de toda
                    sua vida profissional e a garantia da preservação e validade de seus direitos como trabalhador e
                    cidadão, contribuindo para assegurar o seu futuro e o de seus dependentes. </p>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header" id="headingFour">
            <h5 class="mb-0">
                <button class="btn btn-link collapsed" type="button" (click)="collapseFour = !collapseFour"
                    [attr.aria-expanded]="!collapseFour" aria-controls="collapseFour">
                    <span class="text-uppercase font-weight-bold align-middle"> Regras de Segurança no Trabalho </span>
                </button>
            </h5>
        </div>
        <div id="collapseFour" class="collapse" aria-labelledby="headingFour" [collapse]="collapseFour">
            <div class="card-body">
                <p class="text-justify"> A distração é um dos maiores fatores de acidentes. Trabalhe com atenção e
                    dificilmente se acidentará. </p>
                <p class="text-justify"> A oficina é o lugar de trabalho. As brincadeiras devem ser reservadas para hora
                    de folga. </p>
                <p class="text-justify"> Seus olhos não se recuperam depois de perdidos. Use óculos protetores sempre
                    que o seu trabalho exigir. </p>
                <p class="text-justify"> A pressa é companheira inseparável dos acidentes. Faça tudo com tempo para
                    trabalhar bem e com segurança. </p>
                <p class="text-justify"> Quando não souber ou tiver dúvida sobre algum serviço, pergunte ao seu mestre
                    ou capataz, para prevenir-se contra possíveis acidentes. </p>
                <p class="text-justify"> As suas mãos levam para casa o alimento para sua familia. Evite pô-las em
                    lugares perigosos. Não deixe tábuas com pregos espalhadas pela oficina, porque podem ser causas de
                    sérios acidentes. </p>
                <p class="text-justify"> Nao deixe tábuas com pregos espalhadas pela oficina, porque podem ser causa de
                    sérios acidentes. </p>
                <p class="text-justify"> Comunique ao seu chefe toda e qualquer anormalidade ou defeito que notar na
                    máquina ou ferramenta que for utilizar. </p>
                <p class="text-justify"> Não improvise ferramentas, procure uma que seja adequada para seu serviço. </p>
                <p class="text-justify"> Lembre-se que você não é o único no serviço e que a vida do seu companheiro é
                    tão preciosa quanto a sua. </p>
                <p class="text-justify"> Utilize em seus trabalhos ferramentas em bom estado de conservação, para
                    prevenir possiveis acidentes. </p>
                <p class="text-justify"> Não fume em lugares onde se guarda explosivos e inflamáveis. </p>
                <p class="text-justify"> Coopere com seus companheiros em benefício da segurança de todos e siga os
                    conselhos do seu chefe ou feitor. </p>
                <p class="text-justify"> O hábito de usar cabelos solto tem dado causa a graves acidentes. Use touca
                    protetora quando seu trabalho reclamar. </p>
                <p class="text-justify"> Manada a lei que o seu patrão forneça os equipamentos de porteção que você
                    necessita para o trabalho, mas você está obrigado a usá-los, para prevenir acidentes e evitar as
                    doenças profissionais. </p>
                <p class="text-justify"> Mostre ao seu novo companheiro os perigos que o cercam no trabalho. </p>
                <p class="text-justify"> Cada acidente é uma lição que deve ser apreciada, para evitar maiores
                    desgraças. </p>
                <p class="text-justify"> Todo o acidente tem uma causa que precisa ser pesquisada, para evitar a sua
                    repetição. </p>
                <p class="text-justify"> Se você for acidentado, procure logo um socorro médico adequado. Não deixe que
                    "entedidos" e "curiosos" concorram para o agravamento de sua lesão. </p>
                <p class="text-justify"> Se você não é eletricista, não se meta a afzer serviços de eletricidade. </p>
                <p class="text-justify"> Procure o socorro médico imediato, se você for vítima de um acidente, amanhã
                    será tarde demais. </p>
                <p class="text-justify"> As máquinas não respeitam ninguém; mas você deve respeitá-las. </p>
                <p class="text-justify"> Atenda ás recomendações dos membros da CIPA e de seus mestres e chefes. </p>
                <p class="text-justify"> Conheça sempre as regras de segurança da seção onde você trabalha. Conversa e
                    discussão no trabalho predispõem a acidentes pela desatenção. </p>
                <p class="text-justify"> Leia e reflita sempre os ensinamentos contidos nos cartazes e avisos sobre
                    prevenção de acidentes. </p>
                <p class="text-justify"> Os anéis, pulseiras, gravatas e mangas compridas não fazem parte do seu
                    uniforme de trabalho. </p>
                <p class="text-justify"> Mantenha sempre as guardas protetoras das máquinas nos devidos lugares. </p>
                <p class="text-justify"> Pare a máquina quando tiver que consertá-la ou lubrificá-la. </p>
                <p class="text-justify"> Habitue-se a tabalhar protegidos contra acidentes. Use equipamentos de proteção
                    adequados ao seu serviço. </p>
                <p class="text-justify"> Conheça o manejo dos extintores e demais dispositivos de combate ao fogo
                    existentes em seu local de trabalho. Você pode ter necessidade de usá-los algum dia. </p>
            </div>
        </div>
    </div>
</div>