<div class="card">
    <div class="card-header">
        <h4 class="text-center text-muted"> {{ contratoTrabalho?.nomeEmpresa }} </h4>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 col-12">
                <label class="text-muted"> Cargo </label>
                <p title="Cargo"> {{ contratoTrabalho?.cargo }} </p>
                <label class="text-muted"> Remuneração </label>
                <p title="Remuneração">
                    {{ contratoTrabalho?.remuneracao | currency }}
                    <br>
                    {{ contratoTrabalho?.remuneracaoExtenso }}
                </p>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 col-12">
                <label class="text-muted"> Data Admissão </label>
                <p title="Data Admissão"> {{ contratoTrabalho?.dataAdmissao | date: 'dd/MM/yyyy' }} </p>
                <label class="text-muted"> Data Saída </label>
                <p title="Data Saída">
                    <span *ngIf="contratoTrabalho?.dataSaida"> {{ contratoTrabalho?.dataSaida | date: 'dd/MM/yyyy' }}
                    </span>
                    <span *ngIf="!contratoTrabalho?.dataSaida"> Atualmente </span>
                </p>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-12">
                <div class="row">
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-4 col-12">
                        <label class="text-muted"> CBO N° </label>
                        <p title="CBO N°"> {{ contratoTrabalho?.cboNumero }} </p>
                    </div>
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-4 col-12">
                        <label class="text-muted"> Fls./Ficha </label>
                        <p title="Fls./Ficha"> {{ contratoTrabalho?.flsFicha }} </p>
                    </div>
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-4 col-12">
                        <label class="text-muted"> Registro N° </label>
                        <p title="Registro N°"> {{ contratoTrabalho?.registroNumero }} </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card-footer" *ngIf='showSelectButton'>
        <button class="btn btn-primary active" (click)="selectContratoTrabalho()"> selecionar </button>
    </div>
</div>