<h2 class="text-center text-muted"> Contrato de Trabalho Selecionado </h2>
<hr>

<app-contrato-trabalho [contratoTrabalho]='contratoTrabalho'>
</app-contrato-trabalho>

<h2 class="text-center text-muted"> Anotações Gerais </h2>
<hr>
<h1 *ngIf="anotacaoGeralList.length == 0" class="text-center text-muted"> Não há anotações gerais registrados </h1>
<table *ngIf="anotacaoGeralList.length > 0" class="table table-striped table-bordered table-dark">
    <thead class="bg-gray-900">
        <tr class="row" style="margin: 0px;">
            <th class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">Anotação</th>
        </tr>
    </thead>
    <tbody>
        <tr class="row" style="margin: 0px;" *ngFor='let $anotacaoGeral of anotacaoGeralList'>
            <td class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12"> {{ $anotacaoGeral?.texto }} </td>
        </tr>
    </tbody>
</table>
<ngx-ui-loader></ngx-ui-loader>