<div class="card">
    <div class="card-body">
        <div class="row">
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                <label class="text-muted"> CNPJ </label>
                <p title="CNPJ"> {{ empresa?.CNPJ }} </p>
                <label class="text-muted"> Nome Fantasia </label>
                <p title="Nome Fantasia"> {{ empresa?.nomeFantasia }} </p>
                <label class="text-muted"> Razão Social </label>
                <p title="Razão Social"> {{ empresa?.razaoSocial }} </p>
                <label class="text-muted"> Seguimento </label>
                <p title="Seguimento"> {{ empresa?.seguimento }} </p>
            </div>
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                <label class="text-muted"> Estado - Sigla </label>
                <p title="Estado - Sigla"> {{ empresa?.estado }} - {{ empresa?.siglaEstado }} </p>
                <label class="text-muted"> Cidade </label>
                <p title="Cidade"> {{ empresa?.cidade }} </p>
                <label class="text-muted"> Rua - Número </label>
                <p title="Rua - Número"> {{ empresa?.rua }} - {{ empresa?.numero }} </p>
                <label class="text-muted"> Sala </label>
                <p title="Sala"> {{ empresa?.sala }} </p>
            </div>
        </div>
    </div>
</div>